body {
    background: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


header {
    padding: 100px;
    text-align: center; 
    color: rgb(255, 255, 255);
}


nav {
  position: fixed;           
  top: 0;                     
  left: 0;                    
  width: 100%;                
  background: rgba(0, 0, 0, 0.8); 
  padding: 12px ; 
  z-index: 10;            
}

nav ul {
margin: 0%;
padding: 0%;

list-style-type: none;
}

nav li {
display: inline-block;
margin: 20px; 
}

.k3soulja {
font-size: 25px;
line-height: 0.1;
}


h2 {
    font-size: 60;
margin-top: -10px;
}

.merch-items {
  display: flex;              
  justify-content: center;    
  gap: 220px;                  
  margin-top: 140px;           
}



footer {
    background: rgb(255, 188, 243);
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    vertical-align: bottom;
    margin-top: 300px;
}